h2{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(32, 32, 144);
    color: rgba(129, 177, 219, 0.911);
    border-radius: 8px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-item{
    display: grid;
    width: 300px;
    padding:50px;
}

.recipe-image{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}

.accordian-item{
    color: aliceblue;
}

a{
    display: flex;
    justify-content: center;
}


#favoritesbtn{
    background-color: yellow;
    color: black;

}