main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


h2{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

h4{
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.form-check{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


button{
    background-color: rgb(32, 32, 144);
    color: rgba(129, 177, 219, 0.911);
    border-radius: 8px;
}


.recipe-item{
    display: grid;
    width: 400px;
    padding:50px;
}

.recipe-image{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 8px;
}

a{
    display: flex;
    justify-content: center;
}


#favoritesbtn{
    background-color: yellow;
    color: black;

}