h2{
    display: flex;
    justify-content: center;
}

button{
    background-color: navy;
    color: aliceblue;
    border-radius: 8px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-item{
    display: grid;
    width: 300px;
    padding:50px;
}

.recipe-image{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    color: rgb(105, 20, 144);
    justify-content: center;
}


#favoritesbtn{
    background-color: yellow;
    color: black;

}