<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<!-- The routed views render in the <router-outlet>-->

<!-- hamburger menu -->
<!--burger bar: <i class="fas fa-hamburger"></i> -->

<!-- filtering options -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h1 class="display-1" href="#">The Munchies</h1>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Favorites">Favorites</a>
        </li>
      </ul>
      <div class="d-flex">
        <form (submit)="search()">
        <input name = "searchTerm"
          [(ngModel)]="searchTerm"
          class="form-control me-2"
          type="search"
          placeholder="Search for a recipe!"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          id="search"
        >
          Search
        </button>
      </form>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
