<!--Source: FontAwesome https://fontawesome.com/icons?d=gallery&m=free -->

<p>Search Criteria Stuff</p>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/Favorites">Favorites</a></li>
    <!-- empty star:<i class="far fa-star"></i> -->
    <!--filled star: <i class="fas fa-star"></i> -->
    <!-- empty lemon: <i class="far fa-lemon"></i> -->
    <!-- filled lemon:<i class="fas fa-lemon"></i> -->

    <li><a routerLink="/Recipes">Find Recipes</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<!-- hamburger menu -->
    <!--burger bar: <i class="fas fa-hamburger"></i> -->
<!-- search bar that will route to /recipes-->
<!-- take filter form (to-do list) -->
<!-- filtering options -->