<app-search-criteria></app-search-criteria>


<!DOCTYPE html>
<!--    
                                                                                                    
                                                     %&&&&&&                                        
                                               *&,(//////////*,&&&,                                 
                                              &%%%&%%((((///////////*&&                             
                                              &   ,,,&&%((((((//////////,&&                         
                                            &,&...... ..,,%((((((((/////(//,&&                      
                                           &##%##%,....... ,,*%((#/((((///////*&                    
                                        .&%######&&  ..&&#&... ,##((#/((///////(*&&                 
                                      (&###%##%#%&,.....,,...,....,&##%&(/(//////((&&               
                                     &#########%&,..,...........,...,/&%%%#(((//(//%(&&             
                                  && &%%####%%*  ......&#######(#%&...,/&####((/(///(#%&            
                                && .....,,, ....&,,.&#%%####(###%##%%&.../&%#%*(//////#(%&          
                              &&.,...&&%%&*..&##&,.###(*####%%%###%#&%&.,.,#&%&#((((///(##&         
                            && ..&###(#####&,,. ..(%#%#######%#(####&%/...,.,&%##&((#//((#&&        
                           & &.&#(##%%###%&&,......&###############&%&......,.,&%#######%##&        
                         & .,..,&%#####%&%&,..,.....,,&##########%%%,...%&%..,&,*&(,......&&        
                      @& .........,,,,,.  .............   ....   ...,,.....,.&%,*&,.....(&          
                    &&.,(&.,.................&%###%&.....%#%%........,...,,,,,,//%&&&&&             
                   & .,..%%%%%%&,....%#(%,..#%##(##(&,........,...,,&/,*/&&&&&                      
                 && .&%##(#######%. ..,.....&##%(##&,.......,,/,*/**,/&&                            
               (& .*##############%... ......  ....,,,,,%&&&&&&&&#&&                                
             &# ..,&#############&#,. ........,,,,,,,/&                                             
            &......&%%(((#%%##%%%,,,,,,.... ,%&&%&&&&                                               
           &. ,.... .&%#######,,//%*,,,,,,,&*&                                                      
          &,...,.,/,,,,,,,,,//#&      &&///%&                                                       
         &,... ,#*&     &&&#&&                                                                      
         %&*/,,,*&                                                                                  
              &&&    
-->
