<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipes On Demand</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
  </head>
  <body>
  <div class="navbar">
      <a>The Munchies |</a>
      <a href="#home">Home</a>
      <a href="">Recipes</a>
       <span> <form>
        <input type="search" placeholder="Search for a recipe!">
        <button class="search-btn">Search</button>
        </form>
        <button class="favbtn">Your favorites!</button>
      </span>
</div>  


<div class="content">
<div class="img-container">
  <img src="https://www.ndtv.com/cooks/images/pancakes.jpg">

  

<div class="featured">
  <h2>Recipe of the day!</h2>
  <h3>Delicious Buttermilk pancakes</h3>
  <a href="">Get the recipe!</a>
</div>
</div>






</div>

  <script src="" async defer></script>
  </body>
</html>