.navbar {
    width: 100%;
    height: 70px;
    background-color: navy;
    overflow: auto;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }

  .active {
    background-color: #4CAF50;
  }

  
  .favbtn {
      float: right;
      padding: 12px;
      transform: translate(-4px, -55px);

  }
  
  .search{
           padding: 12px;
  }
  
  .search-btn{
    padding: 12px;
 
  }

  img{
      width: 100%;
      height: 100%;
  }
  .img-container{
      width: 100%;
  }

  .featured{
    position: absolute;
    bottom: 100px;
    right: 50px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    height:300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font: 60px;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }

    .favbtn {
        float: right;
        padding: 12px;
        transform: none;
  
    }




  }


